
.css-wsew38{
  align-items: end !important;
}
/* .css-188wxy8-MuiFormControl-root-MuiTextField-root{
  min-width: 20px !important;
  max-width:"80%"
 
 } */
 .css-jfiwu8-MuiInputBase-root-MuiInput-root{
  min-width: 20px !important;
  width:80% !important;
 
 }
 .css-hptr7i-MuiButtonBase-root-MuiIconButton-root{
opacity: 1 !important;
 }
 .css-99wn1p-MuiList-root-MuiMenu-list {
 width:150px;
 }
  
